body{
  
  
  margin-left: 0px;
  padding: 0%;
  margin-top: 70px;
  background-color:rgba(0, 0, 0, 0.749);
 }
 #nav-menu{

  width: 100%;
  background-color: #2d2d2d;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  padding: 10px;
  z-index: 500;
 }
 .nav-link.active {
  /* Define the active link styles, for example: */
  color: rgb(229, 255, 0);
  /* Add other styles as needed */
}
 .mobile-nav{
  display: none;
 }
 .Desktop-nav{
  width: 30%;
  margin-left: 30px;
  display: flex; 
  text-decoration: none;

 }
 .Desktop-nav1{

 margin-left: 30px;
 display: flex; 
 text-decoration: none;
 }
 #f2{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  margin-right: 17%;
  font: 1.3em sans-serif;
 }
 #f4{
  color: white;
  text-decoration: none;
  font-size: 20px;
margin: 10px;
margin-right: 5%;
  font: 1.3em sans-serif;
  
 }
 #button{
  margin-top: 7px;
  margin-right: 70px;
 }
 #resume-button-1{
  margin-top: 10px;
  margin-right: 50px;
  margin: auto;
   display: block;
 
   border: none;
   background-color: #2d2d2d;
 }
 #resume-link-1{
  color: white;
  text-decoration: none;

  margin: 20px;
  text-align: center;
  font-size: 20px;
  font: 1.6em sans-serif;
 }
 #f3{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10%;
  font: 1.3em sans-serif;
  
  padding: 0px;
}
#f31{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font: 1.3em sans-serif;
  margin-right: 11%;
  padding: 0px;
}
@media screen and (max-width: 780px) {
  #button{
   
    margin-right: 40px;
   }
   #nav-menu{
    padding: 0px;
   }
   #resume-button-1{
  
    margin-right: 50px;
    margin: auto;
     display: block;
     border-radius: 20px;
     border: none;
     background-color: #2d2d2d;
   }
  .nav-link {
  
    display: block;
  }
  .Desktop-nav{
    display: none;
  }
  .Desktop-nav1{
    display: none;
  }
  .mobile-nav {
      width: 100%;
    display: block;
   
  }
 
  .hamburger {
    display: block;
    margin-top: 2px;
    margin-right: 30px;
    font-size: 30px;
    background-color: transparent;
    padding: 12px;
    color: white;
    border: none;
  }
 
  #navList {
    display: none;
    flex-direction: column;
    background-color: #333333da;
  
    width: 100%;
    margin: auto;
    position: absolute;
    top: 70px;
    left: 0%;
    right: 0%;
    list-style: none;
  }

  #navList li {
    
    text-align: center;
    margin-right: 70px;
  }

  #navList li a {
    
  padding: 10px;
   color: rgb(232, 218, 218);
    text-decoration: none;
    
    font-size: 25px;
  }
  #j{
    width: 100%;
    
  
    margin-left: 31%;
  
  }    
 
}
@media screen and (max-width: 480px) {
  #j{
    width: 100%;
    
  
    margin-left: 21%;
  
  } 
}
@media screen and (max-width: 1000px) {   
#f2{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  margin-right: 10%;
  font: 1.3em sans-serif;
 }
 #f4{
  color: white;
  text-decoration: none;
  font-size: 20px;
margin: 10px;
margin-right: 5%;
  font: 1.3em sans-serif;
  
 }
#f3{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 8%;
  font: 1.3em sans-serif;
  
  padding: 0px;
}
#f31{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font: 1.3em sans-serif;
  margin-right: 9%;
  padding: 0px;
}

} 
@media screen and (max-width: 900px) {   
 .Desktop-nav{
  width: 50%;
  margin: auto;
  padding: 0px;
 }
  
  
  } 
  

 #about{
  text-align: center;
 }  
 .container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
 }
 .container div{
  margin-top: 0px;
  padding: 20px;

 
 }
 .name{
  width: 90%;
  padding: 20px;
  margin: auto;
  margin-top: 0px;
 
  
 }
 #user-detail-name{
  text-align: center;
  font-size: 40px;
  color: blanchedalmond;
 }
 .img{
  margin-left: 0px;
  margin-top: 80px;
  margin-right: 40px;
 }
 #user-detail-intro{
  text-align: justify;
  font-size: 25px;
  color: blanchedalmond;
 }
 

 #resume-button-2 {
  display: block;
  border-radius: 20px;
  border: none;
  background-color: hsl(240, 40%, 51%);
  color: white;
  margin-top: 30px;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  text-decoration: none; /* To remove underlines from links */
  text-align: center;
  width: 150px; /* Adjust button width */
}
#resume-link-2{
  text-decoration: none;
  color: beige;
  
}
.home-img {
 

  max-width: 300px;
  border-radius: 30px;
  margin-top: 80px;
}
@media screen and (max-width: 1000px) {
  .container{
    width: 100%;
  }
  .container div {
    padding: 20px;
  }

  #user-detail-name {
    font-size: 30px;
  }

  #user-detail-intro {
    font-size: 25px;
  }

  #resume-button-2 {
    width: 120px;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 70%;
    margin: auto;
    flex-direction: column;

  }
  .home-img {
 

    max-width: 60%;
    margin: auto;
    min-height: fit-content;
    border-radius:55%;
    margin-top: 60px;
  }
  .container div {
    padding: 0px;
    margin: 0px;
  }
  .name{
    margin: 0px;
  }

  .img {
    margin: auto;
  }

  #user-detail-intro {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    margin: auto;
    flex-direction: column;

  }
  .home-img {
 

    max-width: 60%;
    margin: auto;
    min-height: fit-content;
    border-radius:55%;
    margin-top: 60px;
  }
  .container div {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #user-detail-name {
    font-size: 30px;
  }

  #user-detail-intro {
    font-size: 15px;
  }

  #resume-button-2 {
    width: 120px;
    font-size: 16px;
  }
}
















   #skills {
     text-align: center;
   
   }
   #skills h1{
    font-size: 40px;
    color: beige;
   }
   .skills{
    margin-top: 10px;
     width: 60%;
     margin: auto;
     padding: 30px;
     display: grid;
     grid-template-columns: repeat(4,1fr);
   }
   .skills-card {
     
     margin: 10px;
   }
   
   .skills-card-img {
  
     max-width: 100px;
   }
   .skill_img{
    max-width: 100px;
    margin-left: 25%;
    background-color: beige;
   }
   .skills-card-name{
    color: beige;
   }
   @media screen and (max-width: 1024px) {
     
   
     .skills {
   
      width: 60%;
      margin: auto;
       grid-template-columns: repeat(3, 1fr); /* Adjusted grid columns for tablets */
       gap: 15px; /* Adjusted gap for tablets */
     }
   
     .skills-card {
       margin: 8px; /* Adjusted margin for tablets */
     }
   
     .skills-card-img {
       max-width: 80px; /* Adjusted max-width for tablets */
     }
     .skill_img{
      max-width: 90px;
      margin-left: 25%;
      background-color: beige;
     }
   }
   
   /* Media query for smartphones */
   @media screen and (max-width: 768px) {
     
   
     .skills {
      width: 70%;
      margin: auto;
       grid-template-columns: repeat(3, 1fr); /* Adjusted grid columns for smartphones */
       gap: 10px; /* Adjusted gap for smartphones */
     }
   
     .skills-card {
       margin: 6px; /* Adjusted margin for smartphones */
     }
   
     .skills-card-img {
       max-width: 60px; /* Adjusted max-width for smartphones */
     }
     .skill_img{
      max-width: 70px;
      margin-left: 33%;
      background-color: beige;
     }
   }
   
   /* Media query for smaller smartphones or specific portrait orientations */
   @media screen and (max-width: 480px) {
    #skills h1{
      text-align: center;
      font-size: 25px;
      color: beige;
     }
    .skills {
   
      width: 80%;
      margin: auto;
       grid-template-columns: repeat(2, 1fr); /* Adjusted grid columns for tablets */
       gap: 15px; /* Adjusted gap for tablets */
     }
     
   
     .skills-card {
       margin: 4px; /* Adjusted margin for smaller smartphones */
     }
   
     .skills-card-img {
       max-width: 50px; /* Adjusted max-width for smaller smartphones */
     }
     .skill_img{
      max-width: 60px;
      margin-left: 35%;
      background-color: beige;
     }
     .skills-card-name{
      font-size: 15px;
      color: beige;
     }
   }
  
   
   
  
   #contact {
     text-align: center;
   }
   
   #contact-github,
   #contact-linkedin {
     text-decoration: none;
     color: #333;
     display: block;
     margin: 10px 0;
   }
   
   #contact-phone,
   #contact-email {
     display: block;
     margin: 5px 0;
   }
   
   
  
   
 
.projects{
  width: 80%;
 margin: auto;
  
}
.projects h1{
  color: beige;
  font-size: 40px;
  margin-top: 50px;
}
  .g{
    background-color: aliceblue;
    max-width: 40px;
  }
 
  .projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-gap: 40px;
    padding: 50px;
    padding-top: 0px;
  }
  
  .project-card {
 
    /* height: 80vh; Set desired height for scrolling */
    padding: 20px;
    background-color:hsla(200, 4%, 16%, 0.803);;
    box-shadow: 6px 7px 10px hsl(0, 0%, 7%);
    border-radius: 40px;
    margin-bottom: 50px;
  }
  
  .img-container {
    width: 80%;
    margin: auto;
  }
  .img-container img{
    width: 100%;
    margin: auto;
    border-radius: 20px;
  }
  
  .project-info {
    width: 100%;
    color: beige;
  }
 .project-title{
  color:beige;
  font-size: 30px;
   margin-top: 20px;
   text-align: center;
 }
 
 .project-description {
   text-align: justify;
   
   font-size: 20px;
   padding-right: 10px;
 }
 .project-tech-stack {
  
  margin-top: 40px;
   font-size: 20px;

 }
 .project-github-link{
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 20px;
   margin-left: 20px;
 }
 
 .project-deployed-link{
   text-align: center;
   text-decoration: none;
   color: black;
   font-size: 20px;
   margin-left: 20px;
 }
 @media screen and (max-width: 1500px) {
  .projects {
    width: 80%; 
    margin: auto;
  }.projects-container {
    grid-template-columns: repeat(3, 1fr); /* Change to a single column for smaller screens */
    padding: 20px; /* Adjust padding */
  }
}
 @media screen and (max-width: 1300px) {
  .projects {
    width: 90%; 
    margin: auto;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr); /* Change to a single column for smaller screens */
    padding: 20px; /* Adjust padding */
  }
}
 @media screen and (max-width: 1000px) {
  .projects {
    width: 90%; 
    margin: auto;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr); /* Change to a single column for smaller screens */
    padding: 20px; /* Adjust padding */
  }

  .project-card {
    height: auto; /* Reset height for smaller screens */
    margin-bottom: 30px; /* Adjust margin */
  }

  .img-container {
    width: 100%;
  }

  .project-description {
    font-size: 16px; /* Adjust font size */
  }
}
@media screen and (max-width: 700px) {
  .projects {
    width: 70%; 
    margin: auto;
  }

  .projects-container {
    grid-template-columns: repeat(1, 1fr); /* Change to a single column for smaller screens */
    padding: 20px; /* Adjust padding */
  }
}
@media screen and (max-width: 400px) {
  .projects {
    width: 100%; 
    margin: auto;
  }
  #projects h1{
    font-size: 25px;
  }

  .projects-container {
  display: block; /* Change to a single column for smaller screens */
    padding: 20px; /* Adjust padding */
  }
  .project-info {
    width: 100%;
    color: beige;
  }
 .project-title{
  color:beige;
  font-size: large;
   margin-top: 20px;
   text-align: center;
 }
 
 .project-description {
   text-align: justify;
   
   font-size: small;
   padding-right: 10px;
 }
 .project-tech-stack {
  text-align: justify;
  margin-top: 40px;
  font-size: small;

 }
}
 .stats{
   width: 50%;
   margin: auto;
   text-align: center;
 }
 .stats div{
   margin-top: 20px;
 }
 .m{
  width: 100%;

}
 
@media screen and (max-width: 1024px) {
  .stats{
    width: 30%;
    margin: auto;
    text-align: center;
  }
  .stats div{
    margin-top: 20px;
  }
  
}

/* For smartphones */
@media screen and (max-width: 768px) {
  .stats{
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .stats div{
    margin-top: 20px;
  }
  
}

/* For smaller smartphones or specific portrait orientations */
@media screen and (max-width: 480px) {
  .stats{
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .stats div{
    margin-top: 20px;
  }
  
}
.i{
  max-width: 100%;
  margin-left: 5px;
} 
.i2{
 max-width: 90%;
 margin: auto;
 padding-top: 10px;
 margin-left: 5px;
}

.z{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 10px;
 width: 15%;
 padding: 10px;
 margin: auto;

}

@media screen and (max-width: 768px) {
  .z{
    width: 30%;
    grid-template-columns: repeat(3, 1fr);
  }
  
  
} 

/* For smaller smartphones or specific portrait orientations */
@media screen and (max-width: 480px) { 
  .z{
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
  }
 } 

 
/* Footer Styles */
footer {
  width: 100%;
  background-color: hsla(240, 2%, 8%, 0.586);
  text-align: center;
  color: white;
  padding: 10px;
}

footer h1 {
  margin-top: 0; /* Reset default margin */
}

footer p {
  font-size: 20px;
}

/* Media Query for Medium Screen */
@media screen and (max-width: 768px) {
  footer p {
    font-size: 18px;
  }
}

/* Media Query for Small Screen */
@media screen and (max-width: 480px) {
  footer p {
    font-size: 16px;
  }
}



